<header id="header" class="max-md:h-20">
  <div
    [ngClass]="showScroll ? 'header-up' : 'header-down'"
    class="fixed top-0 w-full z-[999]"
  >
    <div class="px-6 py-5 flex justify-between items-center">
      <a [routerLink]="['']" [rel]="'dofollow'" @logoEnter>
        <img
          src="assets/images/logo.png"
          alt="Freccialtd logo"
          title="Freccialtd logo"
          width=""
          height=""
          class="max-lg:h-[38px]"
        />
      </a>
      <div class="flex items-center gap-x-2">
        <img
          src="assets/images/phone.svg"
          alt=""
          title=""
          width="28"
          height="28"
          class="max-md:w-6 max-md:h-6"
        />
        <p class="text-[14px] leading-[22px] font-semibold">
          <span class="max-md:hidden">{{ "contact" | translate }} </span>
          <span>0792582126</span>
        </p>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="relative mx-auto max-w-max h-full">
    <div
      class="absolute top-1/2 -translate-y-1/2 max-2xl:pl-[200px] max-xl:pl-8 max-md:relative max-md:top-0 max-md:mt-[120px] max-md:translate-x-unset max-md:pl-5"
    >
      <h1
        class="text-[64px] leading-[78px] max-lg:text-[50px] max-lg:leading-[58px] max-md:text-[36px] max-md:leading-[44px]"
      >
        <span class="active font-bold">FRECCIA </span><span>MOBILE</span>
      </h1>
      <div
        class="flex items-center gap-x-[10px] text-[32px] leading-10 mt-2 max-lg:leading-8 max-md:text-[16px] max-md:leading-5"
      >
        <p>Like it do it</p>
        <img
          src="assets/images/ic_logo_thumbnail.svg"
          alt=""
          title=""
          width=""
          height=""
        />
        <p>for a better life</p>
      </div>
    </div>
    <img
      src="assets/images/banner.png"
      alt="Freccialtd banner"
      title="Freccialtd banner"
      width="1440"
      height="1024"
      class="banner-home"
    />
  </div>
  <div
    class="bg-one overflow-hidden py-[137px] container-main bg-[url('assets/images/banner_1.png')] bg-contain bg-no-repeat bg-bottom-center max-2xl:py-[107px] max-lg:py-[90px]"
  >
    <div class="p-10 max-lg:p-8 max-md:p-6">
      <app-title-component
        [title]="'title_misson' | translate"
      ></app-title-component>
      <p class="text-center mt-4">
        {{ "des_misson_one" | translate }} <br />
        {{ "des_misson_two" | translate }}
      </p>
    </div>
    <div
      class="grid grid-cols-2 gap-x-[120px] mt-[60px] max-lg:mt-10 max-lg:gap-x-[60px] max-md:grid-cols-1 max-md:gap-y-6 max-md:mt-6"
    >
      @for (item of missions; track $index; ) {
      <div
        class="item-mission p-[38px] rounded-2xl flex flex-col gap-y-3 text-center"
        [attr.data-aos]="item.type"
      >
        <img
          [src]="item.image"
          alt=""
          title=""
          width="72"
          height="72"
          class="mx-auto"
        />
        <p
          class="text-[20px] leading-[30px] font-bold max-md:text-[20px] max-md:leading-[25px]"
        >
          {{ item.title }}
        </p>
        <div [innerHtml]="item.des"></div>
      </div>
      }
    </div>
  </div>
  <div
    class="mx-auto px-[150px] max-w-[1535px] pt-[23px] pb-6 bg-[url('assets/images/banner_2.png')] bg-no-repeat bg-top-center max-2xl:max-w-[1350px] max-2xl:px-[180px] max-md:hidden"
  >
    <div class="flex">
      <div class="w-[690px] relative max-2xl:w-[531px]">
        <div
          class="relative pr-[31px] max-2xl:pr-6"
          data-aos="fade-right"
          data-aos-delay="500"
        >
          <div class="box-direction">
            <h3>{{ "name_direction_one" | translate }}</h3>
            <div
              class="des-direction"
              [innerHTML]="addTagBr('content_direction_one' | translate)"
            ></div>
          </div>
          <div
            class="absolute -translate-y-[16px] right-0 max-2xl:-translate-y-[12px]"
          >
            @if (widthWindow > 1536) {
            <img src="assets/images/line_1_desktop.svg" alt="" />
            } @else {
            <img src="assets/images/line_1.svg" alt="" />
            }
          </div>
        </div>
        <div
          class="relative pr-[31px] mt-[167px] pl-[115px] max-2xl:pr-6 max-2xl:mt-[133px] max-2xl:pl-[89px]"
          data-aos="fade-up-right"
          data-aos-delay="500"
        >
          <div class="box-direction">
            <h3>{{ "name_direction_there" | translate }}</h3>
            <div
              class="des-direction"
              [innerHTML]="addTagBr('content_direction_there' | translate)"
            ></div>
          </div>
          <div
            class="absolute -translate-y-[16px] right-0 translate-x-[117px] max-2xl:-translate-y-[12px] max-2xl:translate-x-[89px]"
          >
            @if (widthWindow > 1536) {
            <img src="assets/images/line_3_desktop.svg" alt="" />
            } @else {
            <img src="assets/images/line_3.svg" alt="" />
            }
          </div>
        </div>
      </div>
      <div class="w-auto flex-1">
        <div
          class="mt-20 max-2xl:mt-10"
          data-aos="zoom-in"
          data-aos-delay="500"
        >
          @if (widthWindow > 1536) {
          <h2
            class="font-bold text-[62px] leading-[78px] uppercase text-[#72BF44] text-center max-lg:text-[40px] max-lg:leading-[52px] max-md:text-[32px] max-md:leading-10"
          >
            {{ "title_direction" | translate }}
          </h2>
          } @else {
          <app-title-component
            [title]="'title_direction' | translate"
          ></app-title-component>
          }
        </div>

        <div
          class="relative mt-[120px] max-2xl:mt-[98px]"
          data-aos="fade-left"
          data-aos-delay="500"
        >
          <div class="box-direction">
            <h3>{{ "name_direction_two" | translate }}</h3>
            <div
              class="des-direction"
              [innerHTML]="addTagBr('content_direction_two' | translate)"
            ></div>
          </div>
          <div
            class="absolute left-0 -translate-x-[31px] -translate-y-[16px] max-2xl:-translate-x-6 max-2xl:-translate-y-[12px]"
          >
            @if (widthWindow > 1536) {
            <img src="assets/images/line_2_desktop.svg" alt="" />
            } @else {
            <img src="assets/images/line_2.svg" alt="" />
            }
          </div>
        </div>
        <div
          class="relative mt-[183px] pl-[117px] max-2xl:mt-[143px] max-2xl:pl-[89px]"
          data-aos="fade-up-left"
          data-aos-delay="500"
        >
          <div class="box-direction">
            <h3>{{ "name_direction_four" | translate }}</h3>
            <div
              class="des-direction"
              [innerHTML]="addTagBr('content_direction_four' | translate)"
            ></div>
          </div>
          <div
            class="absolute left-0 -translate-x-[31px] -translate-y-[16px] max-2xl:-translate-x-6 max-2xl:-translate-y-[12px]"
          >
            @if (widthWindow > 1536) {
            <img src="assets/images/line_4_desktop.svg" alt="" />
            } @else {
            <img src="assets/images/line_4.svg" alt="" />
            }
          </div>
        </div>
      </div>
    </div>

    <div
      class="bg-direction w-full h-[156px] mt-[140px] max-2xl:mt-[112px]"
    ></div>
  </div>
  <div
    class="hidden overflow-hidden px-4 py-6 bg-[url('assets/images/bg_mobile_2.png')] bg-no-repeat bg-right-top max-md:block"
  >
    <div class="relative">
      <div class="flex flex-col gap-y-6 relative z-[1]">
        <div>
          <app-title-component
            [title]="'title_direction' | translate"
          ></app-title-component>
        </div>
        <div class="box-direction">
          <h3>{{ "name_direction_one" | translate }}</h3>
          <p>
            {{ "content_direction_one" | translate }}
          </p>
        </div>
        <div class="box-direction">
          <h3>{{ "name_direction_two" | translate }}</h3>
          <p>
            {{ "content_direction_two" | translate }}
          </p>
        </div>
        <div class="box-direction">
          <h3>{{ "name_direction_there" | translate }}</h3>
          <p>
            {{ "content_direction_there" | translate }}
          </p>
        </div>
        <div class="box-direction">
          <h3>{{ "name_direction_four" | translate }}</h3>
          <p>
            {{ "content_direction_four" | translate }}
          </p>
        </div>
      </div>
      <div class="absolute bottom-[-123px] -right-[16px]">
        <img
          src="assets/images/line_1_mobile.svg"
          alt=""
          class="ml-auto absolute top-[-160px]"
        />
        <img
          src="assets/images/line_3_mobile.svg"
          alt=""
          class="ml-auto absolute top-[-73px]"
        />
        <img
          src="assets/images/line_2_mobile.svg"
          alt=""
          class="ml-auto absolute top-[-31px]"
        />
        <img src="assets/images/line_4_mobile.svg" alt="" class="ml-auto" />
      </div>
    </div>

    <div class="bg-direction w-full h-[156px] mt-6 max-md:mt-[63px]"></div>
  </div>

  <div class="container-main my-[142px] max-lg:my-20 max-md:my-6">
    <app-title-component
      [title]="'title_partner' | translate"
    ></app-title-component>
    <div
      class="mt-10 max-md:mt-6"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-delay="500"
    >
      <div
        class="box-our-partners flex gap-x-10 items-center justify-center py-12 rounded-2xl max-md:grid max-md:grid-cols-2 max-md:gap-10 max-md:py-12 max-md:px-7"
      >
        @for (item of partners; track $index) {
        <div class="max-md:w-full">
          <img [src]="item" alt="" class="max-md:mx-auto max-md:h-6" />
        </div>
        }
      </div>
    </div>
  </div>
</main>
<footer class="pt-20 pb-10 max-md:pt-10">
  <div class="px-[144px] mx-auto max-lg:px-[60px] max-md:px-4">
    <div class="flex justify-between max-md:block max-md:text-center">
      <div>
        <a [routerLink]="['']" [rel]="'dofollow'">
          <img
            src="assets/images/logo.png"
            alt="Freccialtd logo"
            title="Freccialtd logo"
            width=""
            height=""
            class="max-md:mx-auto"
          />
        </a>
        <p class="mt-3 max-md:text-[14px] max-md:leading-[19px]">
          Like it do it - for a better life
        </p>
        <div class="mt-10 flex max-md:justify-center">
          @for (item of socials; track $index) {
          <a [href]="item.link" class="p-2">
            <img [src]="item.icon" alt="" title="" width="20px" height="20px" />
          </a>
          }
        </div>
      </div>
      <div
        class="w-[400px] text-right max-md:w-full max-md:text-center max-md:mt-10"
      >
        <h3
          class="uppercase font-bold max-md:text-[14px] max-md:leading-[19px]"
        >
          {{ "company" | translate }}
        </h3>
        <ul
          class="mt-4 flex flex-col gap-y-4 max-md:text-[14px] max-md:leading-[19px]"
        >
          <li>
            <strong>Địa chỉ:</strong> Số 25- N02 Khu tái định cư Triều Khúc, Xã
            Tân Triều, Huyện Thanh Trì, Thành phố Hà Nội, Việt Nam
          </li>
          <li><strong>Mã số thuế:</strong> 0110853850</li>
          <li><strong>Người đại diện:</strong> Phạm Minh Trí</li>
          <li><strong>Số điện thoại:</strong> 0792582126</li>
        </ul>
      </div>
    </div>
    <div class="mt-20 max-md:text-center">
      © 2024. Copyright belongs to Freccia
    </div>
  </div>
</footer>

<!--  -->
